@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 8%;
  --border: 43 18% 89%;
  --input: 43 18% 89%;
  --ring: 0 0% 0%;
  --primary: 0 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 40 20% 95%;
  --secondary-foreground: 0 0% 8%;
  --muted: 40 20% 95%;
  --muted-foreground: 0 0% 45%;
  --accent: 40 20% 93%;
  --accent-foreground: 0 0% 8%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 8%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 30%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
}

html {
  font-size: 112.5%; /* 18px if base is 16px */
  font-weight: 500; /* medium */
}

@layer base {
  body {
    @apply bg-background text-foreground text-base font-medium;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    letter-spacing: -0.011em;
  }
}

/* Subtle minimal scrollbars */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #D8D4CA;
}
::-webkit-scrollbar-thumb:hover {
  background: #AFAAA0;
}
